footer{
	width: 100%;
	background-color: $color-fondo-footer;
	align-self: flex-end;
}


.containerFooter{
	color: $color-texto-footer;
	width: 100%;
	max-width: 75em;
	margin: auto;
	
}

.containerSuperior{
	display: flex;
	justify-content: space-between;
	font-family: $fuente-secundaria;
	padding: 2.5em;
}

.columna1{
	width: 25em;
	margin-right: 1.87em;
	
}

.columna1 h4{
	font-size: 1.37em;
	margin-top: 1.25rem;
}

.columna1 p{
	font-size: 0.87em;
}

.columna2{
	width: 25em;
	margin-top: 1.25em;
	margin-right: 1.87em;
}

.columna2 h4{
	font-size: 1.37em;
}

.columna2 p{
	font-size: 0.87em;
}

.columna2 div p{
	font-size: 1.25em;
}
.columna3{
	width: 25rem;
	margin-top: 1.25rem;
}

.columna3 h4{
	font-size: 1.37em;
}

.columna3 p{
	font-size: 0.87em;
	margin: auto;
}

.containerInferior{
	width: 100%;
	background-color: $color-principal;
	color: lightcyan;
	display: flex;
	justify-content: space-between;
	padding-top: 0.625rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	font-family: $fuente-principal;
	border-radius: 1.25rem, 0rem, 0rem, 1.25rem;
}

div p i {
	color: gold;
}

@media screen and (max-width: 912px){

	.containerSuperior{
		flex-wrap: wrap;

	}

	.columa1{
		max-width: 100%;
	}

	.columna2 .colmna3{
		margin-top: 40px;
	}
}

@media screen and (max-width: 576px){
	.containerSuperior{
		justify-content: center;
		padding-left: 70px;
	}

	footer{
		margin-top: 100px;
	}

}

@media screen and (max-width: 768px){
	.containerSuperior{
		justify-content: center;
		padding-left: 70px;
	}

}