/*------------------CLASES UNIVERSALES------------------*/

*{
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
}


/*------------------HEADER------------------*/


nav{
	display: flex;
	flex-direction: row;

}

.contenedor{
	height: 350px;
}

