body{
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	font-size: 16px;
}

main{
    background-color: $color-fondo-main;
    margin: auto;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 59,73px - 368px);
	max-width: 1200px;
}

/*------------------ANIMACION INDEX------------------*/

.fondoaAnimacion{
	width: 13.75rem;
	height: 13.75em;
	background-color: yellow;
	border-radius: 50%;
	animation: fondoIlustracion 2s infinite;
	position: absolute;
	top: 6.875em;
	left: 1.875em;
}

.textoAnimacion{
    font-size: 1.93em;
}


.animacion{
    width: 13.5313rem;
    height: 19.5625rem;
    background: url("../Imagenes/Ilustracion.png");
	animation: ilustracion 1.5s steps(4) infinite;
	animation-direction: reverse;
	position: relative;
	left: 0.5rem;
}

@keyframes ilustracion {
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 54.125em;
	}
}

@keyframes fondoIlustracion{
	0%{
		transform: scale(1);
		color: yellow; 
    }
}

@media screen and (max-width:576px){
	.fondoaAnimacion{
		top: 15em;
		margin-top: 80px;
		left: 180px
	}
	.carrusel{
		margin-top: 400px;
	}

	.hijoNav{
		width: 180px;
		margin-right: 40px;
	}
}

/*------------------SECCION INDEX------------------*/

.divMainIndex{
	padding-top: 4.6875em;
}

nav.navbar form{
	display: flex;
	justify-content: end;
}

.carrusel{
    padding-top: 1.25rem;
}

.carousel-indicators{
	margin-bottom: 0.125rem;
}

.carousel-caption{
	position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    color: #fff;
    text-align: center;
}
.carousel-caption h2{
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	margin: auto;
	color: $color-texto-fondoazul;
	font-size: 1.25em;

}

.divBodyMain{
	display: flex;
	flex-direction: row;
	width: 100%;
    margin: 2rem 0px 3rem 0;
}

.divVideo{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 0.625em;
}

video{
	width: 100%;
	height: 100%;
}

.divVideo h1{
	color: $color-principal;
	font-family: $fuente-principal;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	color: $color-principal;
	font-family: $fuente-secundaria;
	font-size: 1.5em;
	margin-left: 1.25em;
}


/* -------------CALENDARIO INDEX-------------- */

.divCalendario{
	width: 50%;
	margin-right: 10px;
}

.divCalendario h1{
	color: $color-principal;
	font-family: $fuente-principal;
	font-size: 2em;
	font-weight: bold;
}

.month {
	padding: 1.56rem;
	width: 100%;
	background: #529cd8;;
	text-align: center;
  }
  
  .month ul {
	margin: 0;
	padding: 0;
  }
  
  .month ul li {
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 0.18rem;
  }
  
  .month .prev {
	float: left;
	padding-top: 0.62rem;
  }
  
  .month .next {
	float: right;
	padding-top: 0.62rem;
  }
  
  .weekdays {
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
  }
  
  .weekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
  }
  
  .days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
  }
  
  .days li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size:0.75rem;
	color: #777;
  }
  
  .days li .active {
	padding: 5px;
	background:$color-principal;
	color: white !important
  }
  
  /* media queries para pantallas pequeñas */
  @media screen and (max-width:720px) {
	.weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
	.weekdays li, .days li {width: 12.5%;}
	.days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
	.weekdays li, .days li {width: 12.2%;}
  }


/*------------------SECCION COMPRAS------------------*/

.padreDivCompras{
	width: 100%;
	height: 53.12em;
	margin: 1.87em 1.25em 1.87em 1.25em;
	display: grid;
	grid-template-rows: 2.5fr 1fr 5fr;
	grid-template-columns: 3fr 4fr 5fr;
	grid-row-gap: 0.62em;
	grid-column-gap: 0.625em;

	grid-template-areas: "pos1 pos2 pos3"
						 "pos1 pos4 pos4"
						 "pos1 pos4 pos4";

	justify-items: start;
	align-items: start;	
}

.hijo1{
    @extend %hijoGridCompras;
	grid-area: pos1;
	width: 100%;
	height: 100%;
}

.hijo2{
    @extend %hijoGridCompras;
	background-color: $color-terciario;
	color: black;
	width: 100%;
	height: 100%;
	justify-content: center;
	grid-area: pos2;
}

.hijo3{
    @extend %hijoGridCompras;
	grid-area: pos3;
	display: flex;
	justify-content: center;
}

.hijo4{
    @extend %hijoGridCompras;
	width: 100%;
	height: 100%;
	grid-area: pos4;
    overflow-y: scroll;
}

@media screen and (max-width:993px){
    .padreDivCompras{
        grid-template:
        "pos1 pos1 pos2"
        ". pos3 pos3"
        "pos4 pos4 pos4" ;
    }   
}

@media screen and (max-width:600px){
    .padreDivCompras{
        grid-template:
        "pos1 pos1 pos1"
        "pos2 pos2 pos2"
        ". pos3 pos3" 
        "pos4 pos4 pos4";
    }   
}


.table .sticky{
    position: sticky;
    top: 0;
    overflow-y: scroll;
    z-index: 999; 
}

.table thead tr .sticky{
    background-color: white;
}


.homecenter{
    @extend %HomecenterConstructor;
    background-color: $color-principal;
    color: white;  
}

.constructor{
    @extend %HomecenterConstructor;
    background-color: $color-terciario;
    color: black;
}

/*------------------SECCION CATEGORÍAS------------------*/

.cajaImagenCategoria{
	width: 100px;
	display: flex;
	padding: 1.25em 2.5em;
	justify-content: center;
	flex-wrap: wrap;
}

.imagenCategorias{
    display: flex;
	flex-wrap: wrap;
    width: 700px;
    padding: 20px;
}

.tituloCategoria{
	text-align: center;
	margin-top: 0.625rem;
	font-family: $fuente-principal;
	font-weight: bold;
	color: $color-principal;
}

.contenedorCategoria{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	position: relative;
	padding-top: 3.125em;
}

.cajaCategoria1{
	@extend %cajaCategoria;
	border: 3px solid $color-principal;
}

.cajaCategoria2{
	@extend %cajaCategoria;
	border: 3px solid $color-terciario;
}

.cajaCategoria3{
	@extend %cajaCategoria;
	border: 3px solid $color-secundario;
}

.cajaCategoria1 h2{
	@extend %contenedorCategoria;
	background-color: $color-principal;
	color: $color-texto-fondoazul;
}

.cajaCategoria2 h2{
	@extend %contenedorCategoria;
	background-color: $color-terciario;
	color: black;
}

.cajaCategoria3 h2{
	@extend %contenedorCategoria;
	background-color: $color-secundario;
	color: $color-texto-fondoazul;
}


.cajaIcono1{
	@extend %cajaIcono;
	color: $color-principal;
	border: 1px solid $color-principal;
}

.cajaIcono2{
	@extend %cajaIcono;
	color: $color-terciario;
	border: 1px solid $color-terciario;
}

.cajaIcono3{
	@extend %cajaIcono;
	color: $color-secundario;
	border: 1px solid $color-secundario;
}

.cajaIcono1:hover{
	transform: scale(1.2);
}

.cajaIcono2:hover{
	transform: scale(1.2);
}

.cajaIcono3:hover{
	transform: scale(1.2);
}

.cajaCategoria1:hover{
	background: #ecebeb;
}

.cajaCategoria2:hover{
	background: #ecebeb;
}

.cajaCategoria3:hover{
	background: #ecebeb;
}

.contenedorCategoria img{
	width: 100%;
	padding-top: 10px;
}

.contenedorCategoria ul{
	font-size: 1.25em;
	padding-top: 0.62rem;
	color: $color-principal;
}

/*------------------SECCION MIS PEDIDOS------------------*/

.imagenPedido{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imagenPedido img{
	width: 70%;
	margin-top: 1.25em;
	border: -3px solid $color-fondo-main;

}

.contenedorPedido{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 2.5em 1.875em 5.62em 1.87em;
	justify-content: center;
}

.selectorPeriodo{
	width: 70%;
	justify-content: center;
}
.selectorPeriodo form{
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.selectorPeriodo select:hover{
	transform: scale(1.2);
	background-color: $color-principal;
	color: $color-texto-fondoazul;
}

.contenedorTipoPedido{
	width: 70%;
	justify-content: center;
}

.contenedorTipoPedido nav{
	width: 100%;
	margin-bottom: 1.87em;
}

.contenedorTipoPedido form{
	margin-bottom: 1.87em;
}

.contenedorTipoPedido h4{
	padding-left: 5px;
}

.scrollspy-example {
	position: relative;
	height: 12.5rem;
	margin-top: 0.5rem;
	overflow: auto;
}

/*------------------SECCION CONTÁCTANOS------------------*/

.contenedorContactanos{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedorContactanos fieldset{
	margin: 3.75em 1.87em;
	padding: 0 1.87em;
}

.contenedorContactanos img{
	margin-top: 3.75em;
}

.contenedorContactanos legend{
	font-family: $fuente-principal;
	font-size: 1.875em;
	color: $color-principal;
	font-weight: bold;
	padding-bottom: 1.25rem;
}



/*------------------SECCION FEEDBACK------------------*/

.tituloFeedback{
	text-align: center;
	margin-top: 3.75rem;
	font-family: $fuente-principal;
	font-weight: bold;
	color: $color-principal;
}

.cajaContenedor{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.caja{
	width: 25rem;
	height: 37.5rem;
	margin: 3.75rem 0.62rem 2.5rem 0.62rem;
	padding: 1.25rem;
	border: 3px solid $color-principal;
	border-radius: 14px;
	text-align: center;
	margin-top: 3.75rem;
	position: relative;
}

.caja img{
	width: 60%;
}

.caja h2{
	font-size: 1.87em;
	margin-top: 0.62rem;
}

.caja:hover{
	background: $color-terciario;
}

.caja:hover img{
	transform: translateY(-90px);
}

.caja:hover h2{
	transform: translateY(-90px);
}
