body{
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
}

main{
    background-color: $color-fondo-main;
    margin: auto;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 59,73px - 368px);
	max-width: 1200px;
}

/*------------------ANIMACION INDEX------------------*/

.animacion{
    width: 216.5px;
    height: 313px;
    background: url("../Imagenes/Ilustracion.png");
	animation: ilustracion 1.5s steps(4) infinite;
	animation-direction: reverse;
	position: relative;
	left: 8px;
}

@keyframes ilustracion {
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 866px;
	}
}

.fondoaAnimacion{
	width: 220px;
	height: 220px;
	background-color: yellow;
	border-radius: 50%;
	animation: fondoIlustracion 2s infinite;
	position: absolute;
	top: 110px;
	left: 30px;
}

@keyframes fondoIlustracion{
	0%{
		transform: scale(1);
		color: yellow; 
    }
}

.textoAnimacion{
    font-size: 31px;
}


/*------------------SECCION INDEX------------------*/

.divMainIndex{
	// position: relative;
	padding-top: 75px;
}

nav.navbar form{
	display: flex;
	justify-content: end;
}

.carrusel{
    padding-top: 20px;

}

.divBodyMain{
	display: flex;
	flex-direction: row;
	width: 100%;
    margin: 2rem 0px 3rem 0;
}

.divVideo{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 10px;
}

video{
	width: 100%;
	height: 100%;
}

h1{
	color: $color-principal;
	font-family: $fuente-principal;
}

h2 {
	color: $color-principal;
	font-family: $fuente-secundaria;
	font-size: 1.5rem;
	margin-left: 20px;
}

h3 {
	color: $color-principal;
	font-family: $fuente-secundaria;
	font-size: 30px;
}


/* -------------CALENDARIO INDEX-------------- */

.divCalendario{
	width: 50%;
	margin-right: 10px;
}

.month {
	padding: 25px;
	width: 100%;
	background: #529cd8;;
	text-align: center;
  }
  
  .month ul {
	margin: 0;
	padding: 0;
  }
  
  .month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
  }
  
  .month .prev {
	float: left;
	padding-top: 10px;
  }
  
  .month .next {
	float: right;
	padding-top: 10px;
  }
  
  .weekdays {
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
  }
  
  .weekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
  }
  
  .days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
  }
  
  .days li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size:12px;
	color: #777;
  }
  
  .days li .active {
	padding: 5px;
	background:$color-principal;
	color: white !important
  }
  
  /* media queries para pantallas pequeñas */
  @media screen and (max-width:720px) {
	.weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
	.weekdays li, .days li {width: 12.5%;}
	.days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
	.weekdays li, .days li {width: 12.2%;}
  }


/*------------------SECCION COMPRAS------------------*/

.padreDivCompras{
	width: 100%;
	height: 850px;
	margin: 30px 20px 30px 20px;
	display: grid;
	grid-template-rows: 2.5fr 1fr 5fr;
	grid-template-columns: 3fr 4fr 5fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	grid-template-areas: "pos1 pos2 pos3"
						 "pos1 pos4 pos4"
						 "pos1 pos4 pos4";

	justify-items: start;
	align-items: start;	
}

.hijo1{
    @extend %hijoGridCompras;
	grid-area: pos1;
	width: 100%;
	height: 100%;
}

.hijo2{
    @extend %hijoGridCompras;
	background-color: $color-terciario;
	color: black;
	width: 100%;
	height: 100%;
	justify-content: center;
	grid-area: pos2;
}

.hijo3{
    @extend %hijoGridCompras;
	grid-area: pos3;
	display: flex;
	justify-content: center;
}

.hijo4{
    @extend %hijoGridCompras;
	width: 100%;
	height: 100%;
	grid-area: pos4;
    overflow-y: scroll;
}

@media screen and (max-width:993px){
    .padreDivCompras{
        grid-template:
        "pos1 pos1 pos2"
        ". pos3 pos3"
        "pos4 pos4 pos4" ;
    }   
}

@media screen and (max-width:600px){
    .padreDivCompras{
        grid-template:
        "pos1 pos1 pos1"
        "pos2 pos2 pos2"
        ". pos3 pos3" 
        "pos4 pos4 pos4";
    }   
}


.table .sticky{
    position: sticky;
    top: 0;
    overflow-y: scroll;
    z-index: 999; 
}

.table thead tr .sticky{
    background-color: white;
}


.homecenter{
    @extend %HomecenterConstructor;
    background-color: $color-principal;
    color: white;  
}

.constructor{
    @extend %HomecenterConstructor;
    background-color: $color-terciario;
    color: black;
}


/*------------------SECCION PEDIDOS------------------*/

.scrollspy-example {
	position: relative;
	height: 200px;
	margin-top: .5rem;
	overflow: auto;
}


/*------------------SECCION CATEGORÍAS------------------*/



.imagenCategorias{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    width: 770px;
    height: 350px;
    padding: 20px;
}

/*------------------SECCION CONTÁCTANOS------------------*/

.contenedorContactanos{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedorContactanos fieldset{
	margin: 60px 30px;
	padding: 0 30px;
}

.contenedorContactanos img{
	margin-top: 60px;
}

.contenedorContactanos legend{
	font-family: $fuente-principal;
	font-size: 30px;
	color: $color-principal;
	font-weight: bold;
	padding-bottom: 20px;
}



/*------------------SECCION FEEDBACK------------------*/

.tituloFeedback{
	text-align: center;
	margin-top: 60px;
	font-family: $fuente-principal;
	font-weight: bold;
}

.cajaContenedor{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.caja{
	width: 400px;
	height: 600px;
	margin: 60px 10px 40px 10px;
	padding: 20px;
	border: 3px solid $color-principal;
	border-radius: 14px;
	text-align: center;
	margin-top: 60px;
	position: relative;
}

.caja img{
	width: 60%;
}

.caja h2{
	font-size: 30px;
	margin-top: 10px;
}

.caja:hover{
	background: $color-terciario;
}

.caja:hover img{
	transform: translateY(-90px);
}

.caja:hover h2{
	transform: translateY(-90px);
}
