$color-principal: #0071ce;
$color-secundario: #ea0029;
$color-terciario: #ffd900; 
$color-texto-fondoazul: #FFFFFF;

$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Arenas movedizas', sans-serif;

$color-fondo-footer: #54565A;
$color-texto-footer: #C7C7C7;
$color-fondo-main: #E9F5FF;





